.meallist{
  display: flex;
  width: 1080px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.meallist__title{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.meallist__item{
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 120px 20px; 
}