.subheading_wrapper{
 margin-top: 100px;
}

.subheading_title__h3{
  color: var(--base-black);
}

.subheading_divider__div{
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background: var(--secondary-color);
}