.payment_button__label{
  position: relative;
  display: block;
  width: 252px; 
  height: 60px;
  
  line-height: 60px;
  text-align: center;
  
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--base-content-sub-text);
}
.payment_button__input{
  margin: 0;
  position: absolute;
  top: 50%; 
  left: 20px;
  transform: translateY(-50%);
}