.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: var(--base-white);
  cursor: pointer;
  color: var(--base-black);
  text-align: center;
}

.button__primary {
  background-color: var(--base-white);
  color: var(--base-black);
  border: 1px solid var(--base-content-sub-text);
}

.button__primary:hover {
  background-color: var(--primary-color);
  color: var(--base-white);
}

.button__delete {
  background-color: var(--important-color);
  color: var(--base-white);
}

.button__delete:hover {
  background-color: var(--base-content-sub-text);
  color: var(--base-white);
}
