.wrapper {
  background-color: #EEE;
  padding: 40px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__left,
.footer__center,
.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}