.label_value_text_wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.label_value_text_label__p {
  width: 30%;
}

.label_value_text_value__p {
  width: 70%;
  color: var(--base-content-dark-text);
}