.container{
    display: flex;
    flex-direction: column;
    gap:100px;
    align-items: center;
    padding-bottom: 180px;
}
.container__catagorys {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;

}
.container__catagorys__items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}