.cart_wrapper {
    height: fit-content;

    background: #fff;

    position: relative;
}

.cart_wrapper__shrunk {
    padding-top: 700px;
}

.cart__fixed {
    width: 1080px;

    background: var(--base-white);

    z-index: 500;
}

.cart__shrunk__top {
    position: fixed;
    top: 80px;
}
