@import url("./reset.css");
@import url("./mixin.css");
@import url("./font.css");
@import url("./color.css");

body {
  min-height: 100vh;

  position: relative;
}

header {
  position: relative;
  z-index: 999;
}

main {
  padding-bottom: 230px;
}

.container {
  width: 1080px;
  margin: 0 auto;
}